<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid justify-content-between">
        <%= link_to "Mister Cocktail", cocktails_path, class:"navbar-brand text-dark" %>
        <form class="form-inline my-2 my-lg-0" action="/cocktails">
          <input class="form-control mr-sm-2" type="search" placeholder="Search by name" aria-label="Search" name="name" value="<%= params[:name] %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <button class="btn btn-outline-primary my-2 my-sm-0 mx-2"><%= link_to "Add Cocktail", new_cocktail_path %></button>
        </form>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
